[Unit]
Description=Roomba OH bridge on python
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /usr/share/roomba-python/roomba-bridge.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target